<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
    xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd">

    <global-property name="mule.env" value="dev" doc:id="ff5e21c8-11cc-439b-8c05-13ee0301cb1c" doc:name="Global Property" />
    <configuration-properties file="common.properties" doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd" doc:name="Configuration properties" />
    <configuration-properties file="mule.${mule.env}.properties" doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9" doc:name="Configuration properties" />

    <servicenow:config name="ServiceNow_Config" doc:id="2f49c10d-1796-4ea6-bcb2-9f6309775cf7" doc:name="ServiceNow Config">
        <servicenow:basic-connection password="${snow.password}" serviceAddress="${snow.endpoint}" serviceNowVersion="${snow.version}"
            username="${snow.user}">
            <servicenow:transport>
                <servicenow:basic-auth-http-message-dispatcher-provider password="${snow.password}"
                    username="${snow.user}" />
            </servicenow:transport>
        </servicenow:basic-connection>
    </servicenow:config>
    
	<workday:config-version-32-config name="Workday_Config" doc:name="Workday Config version 32" doc:id="87d99275-1365-464e-b500-9020d11163cd" >
		<workday:basic-authentication-api-v32-connection userName="${wday.username}" password="${wday.password}" tenantName="${wday.tenant}" hostName="${wday.host}" />
	</workday:config-version-32-config>
    
    <os:object-store name="watermarkStore" persistent="false" doc:name="Object store" />
</mule>
